/* ===========  COMMON STYLES =========== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.conteiner {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*  =========== HEADER =========== */

.page-navigation {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.text-italic {
  color: #2e2f42;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/*  =========== CONTACT =========== */

.page-header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: normal;
}

.page-address {
  font-style: normal;
}

.menu-link-top {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-link-top:hover,
.menu-link-top:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

/*  =========== HERO =========== */

.page-hero {
  background-color: #2e2f42;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-conteiner {
  padding-top: 188px;
  padding-bottom: 292px;
  padding-left: 331px;
  padding-right: 331px;
}

.page-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
}

.page-button {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
  background-color: #404bbf;
}

/*  =========== BENEFITS =========== */

.page-name {
  background-color: #f4f4fd;
}

.menu-item-benefits {
  background-color: #ffffff;
  display: flex;
  column-gap: 24px;
}

/*  =========== REWIEWS =========== */
.menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.menu-titel {
  width: calc((100%-72px) / 4);
}

.page-rewiews {
  background-color: #f4f4fd;
}
.page-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-paddings {
  padding-top: 60px;
  padding-bottom: 60px;
}

.subtitle-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.text-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/*  =========== OUT PORTFOLIO =========== */
.menu-titel {
  background-color: #ffffff;
}
/*  =========== LOWER PART =========== */

.page-fonter {
  background-color: #2e2f42;
}

.paragraph-two {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-item {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
